// 📐 Dimensions
$max-width: 1440px;

// Couleurs
$card-title-color: white;

$collapse-title-color: white;
$collapse-header-color: #FF6060;

$h2-color: white;

$error-color: #FF6060;

$text-color: black;

// Ombres
$text-shadow-soft: 0px 4px 4px rgba(0, 0, 0, 0.25);
$text-outline: -1px -1px 0 black,
                1px -1px 0 black,
               -1px  1px 0 black,
                1px  1px 0 black;

