@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 45px;
  gap:50px;
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 20px;
    gap:27px;
  }
}