@import 'variables';

.carousel {
    width: 1240px;
    height: 415px;
    display: flex;
    position: relative;

    .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .carousel-button-next,
    .carousel-button-prev {
        z-index: 2;
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-button-next {
        right: 25px;
    }

    .carousel-button-prev {
        left: 25px;
    }

    .images-index {
        z-index: 2;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
}