@import 'variables';

.collapse {
    width: 1023px;
    
    justify-self: center;

    .collapse-header {
        background-color: $collapse-header-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        height: 52px;
        padding : 0 20px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: $title-color;
        }
    }
}