@import 'variables';

.collapse {
    width: 1023px;
    justify-self: center;
    overflow: hidden;

    .collapse-header {
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        height: 54px;
        padding: 0 5px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: white;
        }

        .collapse-arrow {
            width: 24px;
            height: 24px;
            transition: transform 0.5s ease-in-out;

            &.rotate {
                transform: rotate(-180deg);
            }
        }
    }

    .collapse-content {
        background-color: #F6F6F673;
        border-radius: 5px;
        padding: 0 24px;
        z-index: -1;
        position: relative;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-200px);
        transition: max-height 1s ease-in-out, transform 0.5s ease-in-out;

        &.open {
            transform: translateY(0);
            max-height: 500px;
        }

        &.closed {
            max-height: 0;
            transform: translateY(-200px);
            padding: 0 24px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }
        
        ul{
            padding:0;
        }
        li {
            list-style-type: none;
            font-size: 18px;
            font-weight: 400;
        }
    }
}


@media screen and (max-width: 480px) {
    .collapse {
        width: 335px;

        .collapse-header {
            height: 30px;

            h2 {
                font-size: 13px;
            }

            .collapse-arrow {
                width: 16px;
                height: 16px;
            }
        }

        .collapse-content {

            p {
                font-size: 12px;
                font-weight: 400;
            }

            li {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}