@import 'variables';

main {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
    display: grid;
    gap: 43px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    justify-content: center;
    gap: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    max-width: 1240px;
    margin: 0 auto;
}