@import 'variables';

.tags {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;

}

.tag {
    height: 25px;
    min-width: 115px;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: 700;
    font-size: 14px;
    padding: 0 1em;
}